.nav {
    height: 10vh;
    padding: 10px;
    background: rgb(63, 73, 103);
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    /* padding-left: 50%; */

  }
  .searchBorder{
      margin-left:50%;
      border:solid black 3px;
      display:inline;


  }
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
  }
  